<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about-us.component.css">

   
</head>
<body>
   <div class="heading">
    <h2>About Us</h2>
   </div> 
   <section class ="about-us">
    <img src="..\assets\wp1874162.jpg">
    <div class="content">
        <h3>BLUE BUS</h3>
        <p> BlueBus is India’s largest online bus ticketing platform that has transformed bus travel in the country
             by bringing ease and convenience to millions of Indians who travel using buses.
             Founded in 2023, BlueBus is part of India’s leading online travel company MakeMyTrip Limited (NASDAQ: MMYT).
             By providing widest choice, superior customer service, lowest prices and unmatched benefits,
             BlueBus has served over 18 million customers. BlueBus has a global presence with operations across Indonesia,
             Singapore, Malaysia, Colombia and Peru apart from India.</p>
             <button (click)=back()>Back</button>
    </div>
   </section>
</body>
</html>
