<!-- Create a form for signup page -->
<div class="form_area">
    <h4 class="title">SIGN UP</h4>
    <form action="">
        <div class="form_group">
            <label for="name" class="sub_title">User Name</label>
            <input type="text" class="form_style" id="name" [(ngModel)]="userName" name="userName" placeholder="Enter your user name" autocomplete="off" minlength="3" maxlength="20" required="required"/>
        </div>
       <!-- <div class="form_group">
            <label for="name" class="sub_title">Last Name</label>
            <input type="text" class="form_style" id="name" [(ngModel)]="lastName" name="lastName" placeholder="Enter your last name" autocomplete="off" minlength="3" maxlength="20" required="required"/>
        </div>-->
        <div class="form_group">
            <label for="email" class="sub_title">Email</label>
            <input type="email" class="form_style" id="email" [(ngModel)]="email" name="email" placeholder="Enter your email" autocomplete="off" minlength="15"  required="required"/>
        </div>
        <div class="form_group">
            <label for="password" class="sub_title">Password</label>
            <input [type]="changetype?'password':'text'" name="password" class="form_style"  placeholder="Enter your password" id="password" autocomplete="off" minlength="3" maxlength="15" required="required" [(ngModel)]="password">
            <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
        </div>
        
        <!--<div class="form_group">
            <label for="confirmPassword" class="sub_title">Confirm Password</label>
            <input [type]="changetype?'password':'text'" name="confirmPassword" class="form_style"  placeholder="Enter your confirm password" id="confirmPassword" autocomplete="off" minlength="3" maxlength="15" required="required" [(ngModel)]="confirmPassword">
            <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
        </div>-->
        <div>
            <button class="btn" (click)="confirmSignup()">SIGN UP</button>
            <p id="demo"></p>
            <p class="account">Already have an Account? <a href="app-login-form" class="link" style = color:#fff>Login Here!</a></p>
        </div>
    </form>
</div>
