<section></section>
<div class="container">
<div class="card-container">
	<span class="pro">PRO</span>
	<img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
	<h3>Nisha Devi</h3>
	<h6>INDIA</h6>
	<p>Java Full Stack Developer</p>
	<div class="buttons">
		<button class="primary">
			Message
		</button>
		<button class="primary ghost">
			Following
		</button>
	</div>
	<div class="skills">
		<h6>Skills</h6>
		<ul>
			<li>JAVA</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>Angular</li>
			<li>Spring</li>
		</ul>
		<button (click)=back()>Back</button>
	</div>
</div>
</div>

