<!--<link rel="stylesheet" href="logout.component.css">
<body>
<div class="banner">  
 <div class="navbar">
   <ul>
    <li><a href="app-home-page">Go Back To Home Page</a></li>
   </ul>
 </div>

 <div class="content">
   <h2>Thank You For Visiting Us!</h2>
   <p>Dear Traveller, Thank you so much for visiting our website.
     It was a pleasure to show you aeasy way to book your bus tickets.<br/>
     Your interest and enthusiasm were truly appreciated.
     We hope that you found this website easy and enjoyable,
      and we would love to hear any feedback or comments you may have.<br/>
      We value your opinion and are always looking for ways to improve our services 
     Please don’t hesitate to contact us if you have any questions or need further information.<br/>
      We look forward to staying in touch and working together in the future.</p>
 </div>
 
</div>
</body>-->
